/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Body styles */
body {
    min-height: 100vh;
    font-family: serif;
    font-weight: bold;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
}

/* Header and Footer shared styles */
header,
footer {
    margin: 10px 5px;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}

/* Anchor styles */
a {
    text-decoration: none;
}

/* Header image styles */
header img {
    width: 10%;
}

/* Main content styles */
main {
    background-color: #eaf2ff;
    padding: 10px;
}

/* First section styles */
.first-section {
    margin: 20px 0;
}

.first-section h1 {
    font-size: 40px;
    width: 60vw;
    margin-bottom: 20px;
}

.first-section h1 img{
    width: 40px;
    border-radius: 10px;
    display: inline;
}

.first-section p {
    margin-top: 10px;
}

/* Bitcoin icon styles */
.fa-bitcoin {
    color: #f7931b;
}

/* Span text color styles */
span {
    color: #0345d1;
}

/* Paragraph text color styles */
p {
    color: #979ca2;
    font-family: 'open sans' sans-serif;
}

/* Button styles */
button {
    background: #0345d1;
    border: none;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
}

button a {
    color: #ffffff;
}

/* Aside (cryptocurrency information) styles */
aside {
    background: #ffffff;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

/* Bitcoin icon size in Aside styles */
aside .fa-bitcoin {
    font-size: 50px;
}

/* Halfwidth1 styles */
.halfwidth1 {
    margin-bottom: 10px;
}

/* Footer content styles */
.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content h4 {
    margin-bottom: 5px;
}

/* Address paragraph styles */
address p {
    color: #1e1f21;
    margin-bottom: 5px;
}

/* Address paragraph icon styles */
address p i {
    margin-right: 2px;
}

/* Social media paragraph styles */
.social p {
    display: inline;
    margin-right: 10px;
}
